/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

@font-face {
  font-family: "frutiger";
  src:
    local("Frutiger"), local("Frutiger"),
    url("Frutiger.ttf");
}


/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
	
	background: #00192a;
}
.to {
  animation-name: back;
  animation-duration: 2s;
  animation-fill-mode: forwards;

}

.back {
  animation-name: back;
  animation-direction: reverse;
  animation-duration: 2s;
  animation-fill-mode: forwards;

}

@keyframes back {
  0%   {background: #00192a;}
  100% {background: #daf0ff;}
}





#container {
	height: 100%;	
}

.drag{

	margin: 2vw auto;
	padding: 1vw;
	max-width: 900px;
	
	position:relative;
} 
header, footer{
	padding: 20px;
	color: #00192a;
}


h2,.drag p{
	margin-top:0px;
	color: #00192a;
}
h1,h2{
	font-family: frutiger;
	
}
p{
	font-family: Tahoma, sans-serif;
}



#back1,#back2{
	height: 400px;
}

#back1{
	background:url('../img/bubble.gif') fixed center no-repeat;
	background-size:cover;
}

#back2{
	background:url('../img/aero.png') fixed center no-repeat;
	background-size:cover;
	
	position: relative;
}
/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for portrait tablets and large phone screens.  */
@media all and (min-width: 600px) {
	
	.drag{
		position:relative;
	}
	h2{
	line-height: 2vw;
	}

	
} /* closes 600px+ */



/* Minimum width for landscape laptops. */
@media all and (min-width: 768px) {
	
	
	
	
} /* closes 768px+ */



/* Minimum width for larger tablets, laptops and desktops. */
@media all and (min-width: 992px) {
	.drag{
	}
	
	
} /* closes 992px+ */



/* Minimum width for larger desktops. */
@media all and (min-width: 1200px) {
	
	
	
	
} /* closes 1200px+ */

