/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

header{
font-family: "Bebas Neue", serif;
color: #09224C;
 position: absolute;
 top: 250px;
 left: 400px;
 letter-spacing: 20px;
 rotate: 180deg;
}


h2 {

color:#008dff

}

body {
background: #011433;
}


#container {
width:1000px;
height: auto;
nargin: auto;
}

.line1{
  font-family: "Bebas Neue", serif;
  font-size: 10em;
  
  color: #526fd9;
  position: absolute;
  top: 10px;
  left: 120px;
  letter-spacing:10px;
  line-height: 120%;
}

.scribble{
font-family: "Lacquer", Arial, sans-serif;
color: #e8edfc;
letter-spacing: 0em;
text-shadow: 0px -10px #2c257a,0px -20px #483FC6,0px -30px #5F54FF, 0px -40px #7E75FF,0px -50px #7E75FF;
}

.scribble2{
font-family: "Lacquer", Arial, sans-serif;
color: #e8edfc;
letter-spacing: 0em;
text-shadow: 0px 10px #2c257a,0px 20px #483FC6,0px 30px #5F54FF, 0px 40px #7E75FF,0px 50px #7E75FF;
}

.line2{
  font-family: "Wavefont", Arial;
  font-size: 15em;
  color: #13195e;
  opacity: 0.5;
  text-shadow: 1000px 0px #13195e;
  position: fixed;
  bottom: -140px;
  left: -20px;
}

.line3{
  font-family: "Wavefont", Arial;
  font-size: 16em;
  color: #2c257a;
  opacity: 0.5;
  text-shadow: 1000px 0px #2c257a;
  position: fixed;
  bottom: -150px;
  left: 10px;
}

.line4{
font-family: "Lacquer", Arial, sans-serif;
font-size: 1em;
color: #B2CCF7;
position: absolute;
top: 340px;
left: 370px;
letter-spacing: 5px;
}

footer{
font-family: "Bebas Neue", serif;
color: #B2CCF7;
font-size: 12px;
position: fixed;
bottom: -10px;
right: 20px;
}
