/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

@font-face {
  font-family: "gill";
  src:
    local("gillsansmt"), local("gillsansmt"),
    url("gillsansmt.ttf");
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body{
	background: #F0F5FE;
}

/*WORLD INFO*/
#container {
	padding: 16px;
	margin: auto;
}
#grid{
	display: flex;
	flex-direction: column;
	margin: auto;
}

li{
	list-style-type: none;
}

nav, nav #desktop{
	display: flex;
}

#desktop li{
	display: none;
}

/*WORLD INFO END*/


/* IMAGES */

img{
	max-width: 100%;

}

/* IMAGES END*/





/* FONT INFO */

h1, h2, h3, p{
	color: #011501;
}

h1{
	font-size: 64px;
	line-height: .75em;
}

h2{
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 4px;
}

h3{
	font-family: "Roboto", sans-serif;
	font-weight: 200;
	font-size: 24px;
}

h1, p{
	font-family: gill;
}

h2, p{
	font-size: 16px;
}


#line{
	border-bottom: solid black 2px;
	padding-bottom: 16px;
}
#Eline{
	border-bottom: solid black 4px;
	padding-bottom: 16px;
}

/* FONT INFO ENDS */



/*INDEX.HTML SPECIFIC */
#desktop{
	display: none;
}

#grid4{
	display: flex;
	flex-direction: column;
	margin: auto;
}

/*INDEX.HTML SPECIFIC ENDS */


/*KEY.HTML SPECIFIC*/

.aero{
	background: url("../img/bubble.png")fixed center no-repeat;
	background-size:cover;
}




.metro{
	background: url("../img/metro.png")fixed center no-repeat;
	background-size:cover;
}

/*KEY.HTML SPECIFIC END*/



/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

/* Minimum width for portrait tablets and large phone screens.  */
@media all and (min-width: 600px) {
	
	
	
	
} /* closes 600px+ */



/* Minimum width for landscape laptops. */
@media all and (min-width: 768px) {
	
/*WORLD INFO*/
#container {
	padding: 32px;
}
#grid{
	display: flex;
	flex-direction: row;
}

#desktop li{
	display: block;
}


/*WORLD INFO*/

/* FONT INFO */
h1{
	font-size: 128px;
	line-height: .75em;
}

p{
	line-height: 1.2em;
}

#line{
	border-bottom: none;
	border-right: solid black 2px;
	padding: 16px;
	width: 33%;
}
#Eline{
	border-bottom: none;
	padding: 16px;
	width: 33%;
}

/* FONT INFO ENDS */


/*INDEX.HTML SPECIFIC */
#desktop{
	display: block;
}
#mobile{
	display: none;
}
/*INDEX.HTML SPECIFIC ENDS */

/* RULE.HTML SPECIFIC */
#line2{
	border-right: solid black 2px;
	padding: 16px;
	width: 50%;

}
#Eline2{
	border-bottom: none;
	padding: 16px;
	width: 50%;
	
}

#fish img{
	display: block;
	width: 50%;
}

#grid4{
	display: flex;
	flex-direction: row;
	rows: 4;
	margin: auto;
}

/* RULE.HTML SPECIFIC */


} /* closes 768px+ */



/* Minimum width for larger tablets, laptops and desktops. */
@media all and (min-width: 992px) {


/* FONT INFO */	
h2, p{
	font-size: 20px;
}
h2{
	letter-spacing: 6px;
}
h3{
font-size: 24px;
}
h1{
	line-height: .1em;
}
/* FONT INFO ENDS */


} /* closes 992px+ */

/* Minimum width for larger desktops. */
@media all and (min-width: 1200px) {

/*WORLD INFO*/	
#container{
	max-width: 1200px;
	margin: auto;
}
/*WORLD INFO END*/

} /* closes 1200px+ */



/* Minimum width for larger desktops. */

@media all and (min-width: 2000px) {
		

/* FONT INFO */	
h2, p{
	font-size: 24px;
}
h2{
	letter-spacing: 6px;
}
h3{
font-size: 32px;
}
h1{
	line-height: .1em;
}
/* FONT INFO ENDS */
	
} /* closes 2000px+ */



